[Unit]
Description=Kmonad Keyboard Remapper
After=default.target

[Service]
Type=simple
Restart=on-failure
ExecStart=bash -c '/usr/local/bin/kmonad $HOME/.config/kmonad/$CONFIG_NAME'

[Install]
WantedBy=default.target
